  /* search page */
:root {
--bulma-primary: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l), 1);
  --bulma-primary-base: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l), 1);
  --bulma-primary-rgb: 255, 255, 255;
  --bulma-primary-h: 0deg;
  --bulma-primary-s: 0%;
  --bulma-primary-l: 100%;
  --bulma-primary-00-l: 1%;
  --bulma-primary-05-l: 6%;
  --bulma-primary-10-l: 11%;
  --bulma-primary-15-l: 16%;
  --bulma-primary-20-l: 21%;
  --bulma-text-light: white;
  --bulma-link:white;
}
#searchBar::placeholder{
  color:white;
}
#searchControl.is-loading::after{
  border-color: white transparent white transparent;
}
.button.is-loading::after{
  border-color: white transparent white transparent;
}
.songresult{
  height: 50px;
}
.topmargin{
  margin-top: 70px;
}
.songimg{
  width: 50px;
}
.iconbtns{
  border: none;
}
.songtext{
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}